.gradle
.idea
build

account-service/.gradle
account-service/build
account-service/.idea

bill-service/.gradle
bill-service/build
bill-service/.idea

config-service/.gradle
config-service/build
config-service/.idea

deposit-service/.gradle
deposit-service/build
deposit-service/.idea

gateway/.gradle
gateway/build
gateway/.idea


notification-service/.gradle
notification-service/build
notification-service/.idea

registry-service/.gradle
registry-service/build
registry-service/.idea